h1{
	text-align:center;
	font-size:70px;
	color:green;
}
h2{
	text-align:center;
	font-size:55px;
	color:pink;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 200%;
 margin-left: auto;
  margin-right: auto;
  
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 200%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 120px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 183px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.customers{
	text-align:right;
}

